@page
@model Bookstore.Pages.BuyModel
@{
}

<h2>Your Cart</h2>

<!--Table containing the user's cart of books to buy-->
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <!--For each item in our cart, display the Book title, quantity, price, and subtotal-->
    <tbody>
        @foreach (var i in Model.Cart.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>$25.00</td>
                <td>@((i.Quantity * 25).ToString("c"))</td>

                <!--Delete button-->
                <td class="text-center">
                    <form method="post" asp-page-handler="Delete">
                        <!--Input field to pass the BookId-->
                        <input type="hidden" name="bookId" value="@i.Book.BookId"/>
                        <!--Setting the return Url-->
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        
                        <!--Delete Button-->
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3">Total:</td>
            <!--Call the CalcTotal method to return the total price-->
            <td>@Model.Cart.CalcTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>

<div>
    <!--Button to return to shopping-->
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>

    <!--Checkout button-->
    <a class="btn btn-primary" asp-controller="Checkout" asp-action="Checkout" >Checkout</a>
</div>